# **Exploratory Data Analysis (EDA) Without Visualization**

## **Usual Data Handling**

In [ ]:
## **1Ô∏è‚É£ Importing Necessary Libraries**
import pandas as pd  
import numpy as np  
import seaborn as sns  
from scipy.stats import zscore  

## **2Ô∏è‚É£ Loading the Titanic Dataset**
# Using seaborn's built-in Titanic dataset  
df = sns.load_dataset('titanic')  

## **3Ô∏è‚É£ Basic Dataset Information**
# Display first 5 rows  
print("First 5 Rows:\n", df.head())  

# Display last 5 rows  
print("Last 5 Rows:\n", df.tail())  

# Dataset shape  
print("Dataset Shape:", df.shape)  

# Column names and data types  
print("Column Information:\n")  
df.info()  

## **4Ô∏è‚É£ Handling Missing Values**
# Checking for missing values  
print("\nMissing Values Per Column:\n", df.isnull().sum())  

# Filling missing values for numerical columns with median  
df['age'].fillna(df['age'].median(), inplace=True)  

# Filling missing values for categorical columns with mode  
df['embark_town'].fillna(df['embark_town'].mode()[0], inplace=True)  

# Dropping columns with too many missing values  
df.drop(columns=['deck'], inplace=True)  

## **5Ô∏è‚É£ Handling Duplicates**
# Checking for duplicate rows  
print("\nTotal Duplicate Rows:", df.duplicated().sum())  

# Removing duplicates  
df = df.drop_duplicates()

## **6Ô∏è‚É£ Summary Statistics**

In [2]:
# Displaying summary statistics for numerical columns  
print("\nSummary Statistics (Numerical):\n", df.describe())  

# Displaying summary statistics for categorical columns  
print("\nSummary Statistics (Categorical):\n", df.describe(include=['O']))

Summary Statistics (Numerical):
          survived      pclass         age       sibsp       parch        fare
count  775.000000  775.000000  775.000000  775.000000  775.000000  775.000000
mean     0.412903    2.246452   29.581187    0.529032    0.420645   34.878403
std      0.492674    0.853574   13.766359    0.990326    0.840565   52.408474
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   21.000000    0.000000    0.000000    8.050000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   15.900000
75%      1.000000    3.000000   36.000000    1.000000    1.000000   34.197900
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Summary Statistics (Categorical):
          sex embarked  who  embark_town alive
count    775      773  775          775   775
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     483      560  443          562   455

## **7Ô∏è‚É£ Feature Analysis**

In [3]:
# Checking unique values in categorical features  
categorical_features = ['sex', 'embark_town', 'class', 'who', 'alive']  
for col in categorical_features:  
    print(f"\nUnique Values in {col}:\n", df[col].value_counts())  

# Checking range and percentiles for numerical features  
numerical_features = ['age', 'fare', 'sibsp', 'parch']  
for col in numerical_features:  
    print(f"\n{col} Percentiles:\n", df[col].quantile([0.01, 0.25, 0.5, 0.75, 0.99]))

Unique Values in sex:
 sex
male      483
female    292
Name: count, dtype: int64

Unique Values in embark_town:
 embark_town
Southampton    562
Cherbourg      155
Queenstown      58
Name: count, dtype: int64

Unique Values in class:
 class
Third     401
First     210
Second    164
Name: count, dtype: int64

Unique Values in who:
 who
man      443
woman    250
child     82
Name: count, dtype: int64

Unique Values in alive:
 alive
no     455
yes    320
Name: count, dtype: int64

age Percentiles:
 0.01     1.00
0.25    21.00
0.50    28.00
0.75    36.00
0.99    65.26
Name: age, dtype: float64

fare Percentiles:
 0.01      0.0000
0.25      8.0500
0.50     15.9000
0.75     34.1979
0.99    262.3750
Name: fare, dtype: float64

sibsp Percentiles:
 0.01    0.0
0.25    0.0
0.50    0.0
0.75    1.0
0.99    4.0
Name: sibsp, dtype: float64

parch Percentiles:
 0.01    0.0
0.25    0.0
0.50    0.0
0.75    1.0
0.99    4.0
Name: parch, dtype: float64

## **8Ô∏è‚É£ Feature Correlation Analysis**

In [10]:
import pandas as pd
import numpy as np

# Load dataset (assuming df is already loaded)
df_encoded = df.copy()  # Creating a copy to avoid modifying the original dataframe

# Identify categorical columns
categorical_columns = df_encoded.select_dtypes(include=['object', 'category']).columns

# Convert categorical columns to string before encoding
df_encoded[categorical_columns] = df_encoded[categorical_columns].astype(str)

# Apply One-Hot Encoding
df_encoded = pd.get_dummies(df_encoded, columns=categorical_columns, drop_first=True)

# Convert boolean values (if any) to integers
df_encoded = df_encoded.astype(float)

# Display the correlation matrix
print("\nCorrelation Matrix:\n", df_encoded.corr())

# Finding highly correlated features (absolute correlation > 0.5)
correlation_matrix = df_encoded.corr().abs()
high_corr = correlation_matrix[correlation_matrix > 0.5]
print("\nHighly Correlated Features (Correlation > 0.5):\n", high_corr)

Correlation Matrix:
                          survived    pclass       age     sibsp     parch  \
survived                 1.000000 -0.331388 -0.078114 -0.037841  0.069864
pclass                  -0.331388  1.000000 -0.342745  0.087050  0.038998
age                     -0.078114 -0.342745  1.000000 -0.279316 -0.182697
sibsp                   -0.037841  0.087050 -0.279316  1.000000  0.379535
parch                    0.069864  0.038998 -0.182697  0.379535  1.000000
fare                     0.247159 -0.554649  0.092503  0.133807  0.190823
adult_male              -0.529158  0.069762  0.274454 -0.272326 -0.345630
alone                   -0.176714  0.113778  0.190270 -0.607809 -0.569387
sex_male                -0.516121  0.118507  0.093574 -0.095574 -0.235116
embarked_Q              -0.039325  0.211009 -0.031798 -0.003388 -0.066534
embarked_S              -0.135950  0.108069 -0.021726  0.063312  0.063260
embarked_nan             0.060654 -0.074326  0.075495 -0.027190 -0.025471
class_Second             0.098065 -0.149683  0.007926 -0.047118  0.003814
class_Third             -0.322933  0.914717 -0.295786  0.093558  0.031727
who_man                 -0.529158  0.069762  0.274454 -0.272326 -0.345630
who_woman                0.480870 -0.173484  0.090227  0.013225  0.137479
embark_town_Queenstown  -0.039325  0.211009 -0.031798 -0.003388 -0.066534
embark_town_Southampton -0.129450  0.099935 -0.013210  0.060405  0.060548
alive_yes                1.000000 -0.331388 -0.078114 -0.037841  0.069864

                             fare  adult_male     alone  sex_male  embarked_Q  \
survived                 0.247159   -0.529158 -0.176714 -0.516121   -0.039325
pclass                  -0.554649    0.069762  0.113778  0.118507    0.211009
age                      0.092503    0.274454  0.190270  0.093574   -0.031798
sibsp                    0.133807   -0.272326 -0.607809 -0.095574   -0.003388
parch                    0.190823   -0.345630 -0.569387 -0.235116   -0.066534
fare                     1.000000   -0.164481 -0.245168 -0.168979   -0.109681
adult_male              -0.164481    1.000000  0.384923  0.898154   -0.051070
alone                   -0.245168    0.384923  1.000000  0.277339    0.082030
sex_male                -0.168979    0.898154  0.277339  1.000000   -0.041967
embarked_Q              -0.109681   -0.051070  0.082030 -0.041967    1.000000
embarked_S              -0.186410    0.092582  0.024596  0.107014   -0.459017
embarked_nan             0.043822   -0.058757  0.044735 -0.065420   -0.014467
class_Second            -0.128487   -0.068592 -0.041247 -0.066555   -0.111335
class_Third             -0.420903    0.087579  0.113971  0.128352    0.225607
who_man                 -0.164481    1.000000  0.384923  0.898154   -0.051070
who_woman                0.182446   -0.797119 -0.183503 -0.887508    0.065986
embark_town_Queenstown  -0.109681   -0.051070  0.082030 -0.041967    1.000000
embark_town_Southampton -0.181970    0.086173  0.029751  0.099889   -0.461990
alive_yes                0.247159   -0.529158 -0.176714 -0.516121   -0.039325

                         embarked_S  embarked_nan  class_Second  class_Third  \
survived                  -0.135950      0.060654      0.098065    -0.322933
pclass                     0.108069     -0.074326     -0.149683     0.914717
age                       -0.021726      0.075495      0.007926    -0.295786
sibsp                      0.063312     -0.027190     -0.047118     0.093558
parch                      0.063260     -0.025471      0.003814     0.031727
fare                      -0.186410      0.043822     -0.128487    -0.420903
adult_male                 0.092582     -0.058757     -0.068592     0.087579
alone                      0.024596      0.044735     -0.041247     0.113971
sex_male                   0.107014     -0.065420     -0.066555     0.128352
embarked_Q                -0.459017     -0.014467     -0.111335     0.225607
embarked_S                 1.000000     -0.082092      0.179900     0.018716
embarked_nan              -0.082092      1.000000     -0.026353    -0.052670
class_Second               0.179900     -0.026353      1.000000    -0.536460
class_Third                0.018716     -0.052670     -0.536460     1.000000
who_man                    0.092582     -0.058757     -0.068592     0.087579
who_woman                 -0.102619      0.073711      0.061475    -0.173200
embark_town_Queenstown    -0.459017     -0.014467     -0.111335     0.225607
embark_town_Southampton    0.993565      0.031315      0.177426     0.012785
alive_yes                 -0.135950      0.060654      0.098065    -0.322933

                          who_man  who_woman  embark_town_Queenstown  \
survived                -0.529158   0.480870               -0.039325
pclass                   0.069762  -0.173484                0.211009
age                      0.274454   0.090227               -0.031798
sibsp                   -0.272326   0.013225               -0.003388
parch                   -0.345630   0.137479               -0.066534
fare                    -0.164481   0.182446               -0.109681
adult_male               1.000000  -0.797119               -0.051070
alone                    0.384923  -0.183503                0.082030
sex_male                 0.898154  -0.887508               -0.041967
embarked_Q              -0.051070   0.065986                1.000000
embarked_S               0.092582  -0.102619               -0.459017
embarked_nan            -0.058757   0.073711               -0.014467
class_Second            -0.068592   0.061475               -0.111335
class_Third              0.087579  -0.173200                0.225607
who_man                  1.000000  -0.797119               -0.051070
who_woman               -0.797119   1.000000                0.065986
embark_town_Queenstown  -0.051070   0.065986                1.000000
embark_town_Southampton  0.086173  -0.094539               -0.461990
alive_yes               -0.529158   0.480870               -0.039325

                         embark_town_Southampton  alive_yes
survived                               -0.129450   1.000000
pclass                                  0.099935  -0.331388
age                                    -0.013210  -0.078114
sibsp                                   0.060405  -0.037841
parch                                   0.060548   0.069864
fare                                   -0.181970   0.247159
adult_male                              0.086173  -0.529158
alone                                   0.029751  -0.176714
sex_male                                0.099889  -0.516121
embarked_Q                             -0.461990  -0.039325
embarked_S                              0.993565  -0.135950
embarked_nan                            0.031315   0.060654
class_Second                            0.177426   0.098065
class_Third                             0.012785  -0.322933
who_man                                 0.086173  -0.529158
who_woman                              -0.094539   0.480870
embark_town_Queenstown                 -0.461990  -0.039325
embark_town_Southampton                 1.000000  -0.129450
alive_yes                              -0.129450   1.000000

Highly Correlated Features (Correlation > 0.5):
                          survived    pclass  age     sibsp     parch  \
survived                 1.000000       NaN  NaN       NaN       NaN
pclass                        NaN  1.000000  NaN       NaN       NaN
age                           NaN       NaN  1.0       NaN       NaN
sibsp                         NaN       NaN  NaN  1.000000       NaN
parch                         NaN       NaN  NaN       NaN  1.000000
fare                          NaN  0.554649  NaN       NaN       NaN
adult_male               0.529158       NaN  NaN       NaN       NaN
alone                         NaN       NaN  NaN  0.607809  0.569387
sex_male                 0.516121       NaN  NaN       NaN       NaN
embarked_Q                    NaN       NaN  NaN       NaN       NaN
embarked_S                    NaN       NaN  NaN       NaN       NaN
embarked_nan                  NaN       NaN  NaN       NaN       NaN
class_Second                  NaN       NaN  NaN       NaN       NaN
class_Third                   NaN  0.914717  NaN       NaN       NaN
who_man                  0.529158       NaN  NaN       NaN       NaN
who_woman                     NaN       NaN  NaN       NaN       NaN
embark_town_Queenstown        NaN       NaN  NaN       NaN       NaN
embark_town_Southampton       NaN       NaN  NaN       NaN       NaN
alive_yes                1.000000       NaN  NaN       NaN       NaN

                             fare  adult_male     alone  sex_male  embarked_Q  \
survived                      NaN    0.529158       NaN  0.516121         NaN
pclass                   0.554649         NaN       NaN       NaN         NaN
age                           NaN         NaN       NaN       NaN         NaN
sibsp                         NaN         NaN  0.607809       NaN         NaN
parch                         NaN         NaN  0.569387       NaN         NaN
fare                     1.000000         NaN       NaN       NaN         NaN
adult_male                    NaN    1.000000       NaN  0.898154         NaN
alone                         NaN         NaN  1.000000       NaN         NaN
sex_male                      NaN    0.898154       NaN  1.000000         NaN
embarked_Q                    NaN         NaN       NaN       NaN         1.0
embarked_S                    NaN         NaN       NaN       NaN         NaN
embarked_nan                  NaN         NaN       NaN       NaN         NaN
class_Second                  NaN         NaN       NaN       NaN         NaN
class_Third                   NaN         NaN       NaN       NaN         NaN
who_man                       NaN    1.000000       NaN  0.898154         NaN
who_woman                     NaN    0.797119       NaN  0.887508         NaN
embark_town_Queenstown        NaN         NaN       NaN       NaN         1.0
embark_town_Southampton       NaN         NaN       NaN       NaN         NaN
alive_yes                     NaN    0.529158       NaN  0.516121         NaN

                         embarked_S  embarked_nan  class_Second  class_Third  \
survived                        NaN           NaN           NaN          NaN
pclass                          NaN           NaN           NaN     0.914717
age                             NaN           NaN           NaN          NaN
sibsp                           NaN           NaN           NaN          NaN
parch                           NaN           NaN           NaN          NaN
fare                            NaN           NaN           NaN          NaN
adult_male                      NaN           NaN           NaN          NaN
alone                           NaN           NaN           NaN          NaN
sex_male                        NaN           NaN           NaN          NaN
embarked_Q                      NaN           NaN           NaN          NaN
embarked_S                 1.000000           NaN           NaN          NaN
embarked_nan                    NaN           1.0           NaN          NaN
class_Second                    NaN           NaN       1.00000     0.536460
class_Third                     NaN           NaN       0.53646     1.000000
who_man                         NaN           NaN           NaN          NaN
who_woman                       NaN           NaN           NaN          NaN
embark_town_Queenstown          NaN           NaN           NaN          NaN
embark_town_Southampton    0.993565           NaN           NaN          NaN
alive_yes                       NaN           NaN           NaN          NaN

                          who_man  who_woman  embark_town_Queenstown  \
survived                 0.529158        NaN                     NaN
pclass                        NaN        NaN                     NaN
age                           NaN        NaN                     NaN
sibsp                         NaN        NaN                     NaN
parch                         NaN        NaN                     NaN
fare                          NaN        NaN                     NaN
adult_male               1.000000   0.797119                     NaN
alone                         NaN        NaN                     NaN
sex_male                 0.898154   0.887508                     NaN
embarked_Q                    NaN        NaN                     1.0
embarked_S                    NaN        NaN                     NaN
embarked_nan                  NaN        NaN                     NaN
class_Second                  NaN        NaN                     NaN
class_Third                   NaN        NaN                     NaN
who_man                  1.000000   0.797119                     NaN
who_woman                0.797119   1.000000                     NaN
embark_town_Queenstown        NaN        NaN                     1.0
embark_town_Southampton       NaN        NaN                     NaN
alive_yes                0.529158        NaN                     NaN

                         embark_town_Southampton  alive_yes
survived                                     NaN   1.000000
pclass                                       NaN        NaN
age                                          NaN        NaN
sibsp                                        NaN        NaN
parch                                        NaN        NaN
fare                                         NaN        NaN
adult_male                                   NaN   0.529158
alone                                        NaN        NaN
sex_male                                     NaN   0.516121
embarked_Q                                   NaN        NaN
embarked_S                              0.993565        NaN
embarked_nan                                 NaN        NaN
class_Second                                 NaN        NaN
class_Third                                  NaN        NaN
who_man                                      NaN   0.529158
who_woman                                    NaN        NaN
embark_town_Queenstown                       NaN        NaN
embark_town_Southampton                 1.000000        NaN
alive_yes                                    NaN   1.000000

## **9Ô∏è‚É£ Outlier Detection**

In [11]:
# Using IQR (Interquartile Range) method  
for col in ['fare', 'age']:  
    Q1 = df[col].quantile(0.25)  
    Q3 = df[col].quantile(0.75)  
    IQR = Q3 - Q1  
    outliers_iqr = df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))]  
    print(f"\nOutliers Detected in {col} Using IQR:\n", outliers_iqr[[col]])  

# Using Z-score method  
df['fare_zscore'] = zscore(df['fare'])  
outliers_z = df[df['fare_zscore'].abs() > 3]  
print("\nOutliers Detected in Fare Using Z-score:\n", outliers_z[['fare', 'fare_zscore']])  

# Dropping the temporary Z-score column  
df.drop(columns=['fare_zscore'], inplace=True)

Outliers Detected in fare Using IQR:
          fare
27   263.0000
31   146.5208
34    82.1708
52    76.7292
61    80.0000
..        ...
829   80.0000
835   83.1583
849   89.1042
856  164.8667
879   83.1583

[102 rows x 1 columns]

Outliers Detected in age Using IQR:
       age
33   66.0
54   65.0
94   59.0
96   71.0
116  70.5
170  61.0
232  59.0
252  62.0
275  63.0
280  65.0
326  61.0
366  60.0
438  64.0
456  65.0
483  63.0
493  71.0
545  64.0
570  62.0
587  60.0
625  61.0
630  80.0
672  70.0
684  60.0
694  60.0
745  70.0
829  62.0
851  74.0

Outliers Detected in Fare Using Z-score:
          fare  fare_zscore
27   263.0000     4.355573
88   263.0000     4.355573
118  247.5208     4.060025
258  512.3292     9.116066
299  247.5208     4.060025
311  262.3750     4.343639
341  263.0000     4.355573
377  211.5000     3.372273
380  227.5250     3.678241
438  263.0000     4.355573
527  221.7792     3.568535
557  227.5250     3.678241
679  512.3292     9.116066
689  211.3375     3.369170
700  227.5250     3.678241
716  227.5250     3.678241
730  211.3375     3.369170
737  512.3292     9.116066
742  262.3750     4.343639
779  211.3375     3.369170

## **üîü Data Distribution Analysis**

In [12]:
# Checking skewness & kurtosis for numerical features  
for col in numerical_features:  
    print(f"\nSkewness of {col}: {df[col].skew()}")  
    print(f"Kurtosis of {col}: {df[col].kurt()}")

Skewness of age: 0.44198678493510685
Kurtosis of age: 0.567323209153018

Skewness of fare: 4.549950352869661
Kurtosis of fare: 29.905898390901694

Skewness of sibsp: 3.036078087580425
Kurtosis of sibsp: 12.608665960050903

Skewness of parch: 2.6133474892883943
Kurtosis of parch: 8.837563410273624

## **1Ô∏è‚É£1Ô∏è‚É£ Feature Engineering**

In [14]:
# Creating a new feature: Family Size  
df['family_size'] = df['sibsp'] + df['parch'] + 1  

# Creating a new binary feature: Is Alone?  
df['is_alone'] = (df['family_size'] == 1).astype(int)  

# Checking new feature distributions  
print("\nNew Feature Summary:\n", df[['family_size', 'is_alone']].describe())  

## **üîö Conclusion**
print("\nFinal Dataset Shape After EDA:", df.shape)

New Feature Summary:
        family_size    is_alone
count   775.000000  775.000000
mean      1.949677    0.563871
std       1.522882    0.496224
min       1.000000    0.000000
25%       1.000000    0.000000
50%       1.000000    1.000000
75%       2.000000    1.000000
max      11.000000    1.000000

Final Dataset Shape After EDA: (775, 16)